.ct-icon {
	--ct-icon-color: inherit;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	fill: currentColor;
	color: var(--ct-icon-color);
	font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
	.er-icon--$(val) {
		--ct-icon-color: var(--ct-color-$(val));
	}
}
